# Lab 4

## import lib and connect to database

In [1]:
import pandas
import configparser
import psycopg2

In [2]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

In [3]:
conn = psycopg2.connect(host=host,
                       user=user,
                       password=pwd,
                       dbname=db)

In [4]:
cur = conn.cursor()

## Q3.1

In [ ]:
sql="""select * from student"""

In [ ]:
df = pandas.read_sql_query(sql,conn)
df[:]

## Q3.2

In [ ]:
sql = """select professor.p_name,
                course.c_name
                from professor
                inner join course
                on professor.p_email=course.p_email"""

In [ ]:
df = pandas.read_sql_query(sql,conn)
df[:]

## Q3.3

In [ ]:
sql = """
      select count(*) as c_count, c_number
      from enroll
      group by c_number"""

In [ ]:
df = pandas.read_sql_query(sql,conn)
df.plot.bar(x= 'c_number', y ='c_count')

In [ ]:
<AxesSubplot:xlabel='c_number'>

## Q3.4

In [ ]:
sql = sql = """select professor.p_name,
                count(*) as c_number
                from professor
                inner join course
                on professor.p_email=course.p_email
                group by professor.p_name"""

In [ ]:
df = pandas.read_sql_query(sql,conn)
df.plot.bar(x='p_name',y='c_number')

In [ ]:
sql = """
        insert into professor(p_email,p_name,office)
        values('{}','{}','{}')
        """.format('p4@jmu.edu','p4','o4')

In [ ]:
cur.execute(sql)

In [ ]:
conn.commit()

In [ ]:
sql = """
        insert into course(c_number,c_name,room,p_email)
        values('{}','{}','{}','{}')
        """.format('c5','linkedin','r2','p4@jmu.edu')

In [ ]:
cur.execute(sql)

In [ ]:
df =pandas.read_sql_query('select * from professor',conn)
df[:]

In [ ]:
df =pandas.read_sql_query('select * from professor',conn)
df[:]

In [ ]:
conn.commit()

In [ ]:
sql ="""
   update course
   set p_email ='{}'
   where p_email ='{}' """.format('p4@jmu.edu','p2@jmu.edu')

In [ ]:
cur.execute(sql)

In [ ]:
conn.commit()

In [ ]:
df =pandas.read_sql_query('select * from course',conn)
df[:]

In [ ]:
sql ="""
    delete from professor where p_email='{}'
""".format('p2@jmu.edu')

In [ ]:
cur.execute(sql)

In [ ]:
conn.commit()

In [ ]:
df =pandas.read_sql_query('select * from professor',conn)
df[:]